 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Love developing software solutions in Java and Spring, but I have occassionally crossed over to the dark side (.Net / C++). Currently I am using any spare time to teach myself Kotlin and Android.</p>
                    <p>More on that later...</p>
                </div>
                <div class="col-lg-4">
                    <p>Possess Payment industry expertise, having worked most of my career in transaction and eCommerce processing.</p>
                    <p>Besides work, enjoy travelling and love football.  Dream job would be developing software about football, whilst travelling. &#x263A</p>
                </div>
            </div>
        </div>
    </section>