 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I'm a local Sydney guy with global experience having developed software around the world for the past 20+ years, predominately in the financial sector.  I truly enjoy creating great software solutions and have used my Java & Spring skills to build many interesting applications, for example, web services that allow users to change their PIN online and ATMs that dispense foreign currency, to name a couple.  
                </div>
                <div class="col-lg-4">
                    <p>Besides work, I enjoy travelling and love playing and watching football.  Dream job would be developing software about football, whilst travelling. &#x263A</p>
                    <p>Currently I work as a Full (fool?) Stack Developer at an airline, so travel side of dream is satisified &#x263A</p>
                </div>
            </div>
        </div>
    </section>
